version: "2"
services:
  webapi:
    container_name: webapi
    restart: always
    build: ./
    depends_on:
      - "mongo"
    ports:
      - "4200:4200"
    volumes:
      - ./:/usr/src/webapi
    network_mode: host

  mongo:
    container_name: mongo
    image: mongo:4.0.3
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"
    network_mode: host
  